@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  padding: 0 9rem;
  
}
.logo{
  flex-grow: 0;
  
}
.links{
  /* display: flex; */
  /* flex-grow:0; */
  flex-grow: 1;
  /* flex-shrink: ; */

}
.account{
  /* flex-grow: 2; */
  flex-grow: 2;
  flex-shrink: 5;

}
@media screen and (max-width:1238px) {
  .body {
    padding: 0 0rem;
    
  }
  
}


@media screen and (max-width:1023px) {
  .account{
    flex-grow: 0;
    /* flex-shrink: 4; */
  }
  
}
.menuIcon{
  display: hidden;
}
@media screen and (max-width:578px) {
  .menuIcon{
    display: block;
  }
}
@media screen and (max-width:768px) {
  .account{
    display: none;
  }
}

.borderOne{
  border: 1px solid black;
}

.products {
  /* display: flex;
  flex-wrap: wrap; */
  /* display: flex;
  gap: 10; */
  display: grid;
  grid-template-columns:repeat(4, 1fr) ;
  gap: 20px;
}
.items{
  grid-column:auto;
}

  
select {
    border:0px;
    outline:0px;
 }
  
  
  
