@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
}
.body {
  padding: 0 9rem;
  
}
.logo{
  flex-grow: 0;
  
}
.links{
  /* display: flex; */
  /* flex-grow:0; */
  flex-grow: 1;
  /* flex-shrink: ; */

}
.account{
  /* flex-grow: 2; */
  flex-grow: 2;
  flex-shrink: 5;

}
@media screen and (max-width:1238px) {
  .body {
    padding: 0 0rem;
    
  }
  
}


@media screen and (max-width:1023px) {
  .account{
    flex-grow: 0;
    /* flex-shrink: 4; */
  }
  
}
.menuIcon{
  display: hidden;
}
@media screen and (max-width:578px) {
  .menuIcon{
    display: block;
  }
}
@media screen and (max-width:768px) {
  .account{
    display: none;
  }
}

.borderOne{
  border: 1px solid black;
}

.products {
  /* display: flex;
  flex-wrap: wrap; */
  /* display: flex;
  gap: 10; */
  display: grid;
  grid-template-columns:repeat(4, 1fr) ;
  gap: 20px;
}
.items{
  grid-column:auto;
}

  
select {
    border:0px;
    outline:0px;
 }
 @media only screen and (max-width: 1000px) {
  .products{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    gap: 10px;
    margin: 0 10px;

  }
 }
 @media only screen and (max-width: 1300px) {
  .products{
    display: grid;
    grid-template-columns:repeat(3, 1fr);

    gap: 10px;
    margin: 0 10px;

  }
 }
  
 @media only screen and (max-width: 600px) {
  .products{
    display: grid;
    grid-template-columns:repeat(1, 1fr) ;
    gap: 10px;
    margin: 0 10px;

  }
 }
  
.btn{
  position: absolute;
  top: 6px;
  right: 5px;
}

.inputfoc:focus {
  border: 3px solid #023d29;
}
.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.ttt{
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}